n8n/admin-api-all-in-one.json
{
  "name": "BaanPool Admin API",
  "nodes": [
    {
      "id": "wh-get-convs",
      "name": "WH: Get Conversations",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "GET",
        "path": "admin/conversations",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "pg-get-convs",
      "name": "PG: Get Conversations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 0],
      "credentials": {
        "postgres": { "id": "n5ShY9BluRF19UVO", "name": "Postgres account" }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  c.id::TEXT                      AS id,\n  c.channel,\n  c.status,\n  c.last_message_at,\n  c.created_at,\n  c.updated_at,\n  c.bot_enabled,\n  u.id::TEXT                      AS customer_user_id,\n  u.external_user_id,\n  u.display_name,\n  u.picture_url,\n  u.phone,\n  u.email,\n  COALESCE((\n    SELECT m.content_text\n    FROM   messages m\n    WHERE  m.conversation_id = c.id\n      AND  m.is_deleted = FALSE\n    ORDER  BY m.created_at DESC\n    LIMIT  1\n  ), '') AS last_message,\n  COALESCE((\n    SELECT json_agg(\n             json_build_object(\n               'id',    t.id::TEXT,\n               'name',  t.name,\n               'color', t.color,\n               'scope', t.scope\n             ) ORDER BY t.name\n           )\n    FROM   conversation_tags ct\n    JOIN   tags t ON ct.tag_id = t.id\n    WHERE  ct.conversation_id = c.id\n  ), '[]'::json) AS labels,\n  (\n    SELECT COUNT(*)::INT\n    FROM   messages m\n    WHERE  m.conversation_id = c.id\n      AND  m.direction = 'inbound'\n      AND  m.is_deleted = FALSE\n      AND  NOT EXISTS (\n             SELECT 1\n             FROM   message_read_receipts r\n             WHERE  r.message_id = m.id\n           )\n  ) AS unread_count\nFROM  conversations c\nJOIN  users u ON c.customer_user_id = u.id\nWHERE c.status != 'archived'\nORDER BY c.last_message_at DESC NULLS LAST\nLIMIT 50;",
        "options": {}
      }
    },
    {
      "id": "code-format-convs",
      "name": "Format: Conversations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0],
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst conversations = rows.map((r) => {\n  const labels = Array.isArray(r.json.labels)\n    ? r.json.labels\n    : typeof r.json.labels === 'string'\n      ? JSON.parse(r.json.labels || '[]')\n      : [];\n  return {\n    id:                r.json.id,\n    customerUserId:    r.json.customer_user_id,\n    customerExternalId: r.json.external_user_id,\n    customerName:      r.json.display_name || r.json.external_user_id || r.json.id,\n    customerAvatar:    r.json.picture_url  || null,\n    customerEmail:     r.json.email        || '',\n    customerPhone:     r.json.phone        || '',\n    channel:           r.json.channel,\n    status:            r.json.status,\n    lastMessage:       r.json.last_message  || '',\n    lastMessageAt:     r.json.last_message_at,\n    unreadCount:       parseInt(r.json.unread_count) || 0,\n    labels,\n    messages: [],\n    createdAt: r.json.created_at,\n    updatedAt: r.json.updated_at,\n  };\n});\nreturn [{ json: { conversations, total: conversations.length } }];"
      }
    },
    {
      "id": "res-get-convs",
      "name": "RES: Get Conversations",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 0],
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "wh-get-msgs",
      "name": "WH: Get Messages",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 200],
      "parameters": {
        "httpMethod": "GET",
        "path": "admin/messages/:conversationId",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-parse-msg-params",
      "name": "Parse: Msg Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 200],
      "parameters": {
        "jsCode": "const q = $json.query || {};\nconst conversationId = q.conversationId || '';\nreturn [{ json: { conversationId } }];"
      }
    },
    {
      "id": "pg-get-msgs",
      "name": "PG: Get Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [360, 200],
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": { "id": "n5ShY9BluRF19UVO", "name": "Postgres account" }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  m.id::TEXT                                           AS id,\n  m.conversation_id::TEXT                              AS conversation_id,\n  m.sender_type,\n  m.direction,\n  m.message_type,\n  COALESCE(m.content_text, '')                         AS content_text,\n  m.created_at,\n  u.id::TEXT                                           AS sender_user_id,\n  COALESCE(u.display_name, u.external_user_id, m.sender_type) AS sender_name,\n  u.picture_url                                        AS sender_avatar\nFROM  messages m\nLEFT  JOIN users u ON m.sender_user_id = u.id\nWHERE m.conversation_id = '{{ $json.params.conversationId }}'::UUID\n  AND m.is_deleted = FALSE\nORDER BY m.created_at ASC\nLIMIT 200;",
        "options": {}
      }
    },
    {
      "id": "code-format-msgs",
      "name": "Format: Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 200],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst messages = items\n  .filter(r => r.json.id)\n  .map(r => ({\n    id:          r.json.id,\n    conversationId: r.json.conversation_id,\n    senderType:  r.json.sender_type,\n    type:        r.json.sender_type,\n    direction:   r.json.direction,\n    messageType: r.json.message_type,\n    contentText: r.json.content_text,\n    content:     r.json.content_text || '',\n    sender: {\n      id:     r.json.sender_user_id || r.json.sender_type,\n      name:   r.json.sender_name    || r.json.sender_type,\n      type:   r.json.sender_type,\n      avatar: r.json.sender_avatar  || null,\n    },\n    timestamp: r.json.created_at,\n    isRead: true,\n  }));\nreturn [{ json: { messages, total: messages.length } }];"
      }
    },
    {
      "id": "res-get-msgs",
      "name": "RES: Get Messages",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 200],
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "wh-send",
      "name": "WH: Send Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/messages/send",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "pg-save-admin-msg",
      "name": "PG: Save Admin Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 400],
      "credentials": {
        "postgres": { "id": "n5ShY9BluRF19UVO", "name": "Postgres account" }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH conv_user AS (\n  SELECT u.external_user_id\n  FROM   conversations c\n  JOIN   users u ON c.customer_user_id = u.id\n  WHERE  c.id = '{{ $json.body.conversationId }}'::UUID\n),\ninserted AS (\n  INSERT INTO messages (conversation_id, sender_type, direction, message_type, content_text)\n  VALUES (\n    '{{ $json.body.conversationId }}'::UUID,\n    'admin',\n    'outbound',\n    'text',\n    '{{ $json.body.content }}'\n  )\n  RETURNING id::TEXT, conversation_id::TEXT, sender_type, content_text, created_at\n)\nSELECT i.*, cu.external_user_id\nFROM   inserted i, conv_user cu;",
        "options": {}
      }
    },
    {
      "id": "http-line-push",
      "name": "LINE: Push Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer OliHOtY4w4VUsCji08aXjtCr1prj15xCI3tMsxXLocNkkomZV0hlg5ZDkjJWU2N+ZOCFBolLoVXKX3JiiCmYFiykyskutgMEH4uQjS7pj359HiuwfJMQSQxjRQnN7cZgVoBTo9Ro2LR9xzmZNRdA5wdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('PG: Save Admin Message').first().json.external_user_id }}\",\n  \"messages\": [{ \"type\": \"text\", \"text\": \"{{ $('WH: Send Message').first().json.body.content }}\" }]\n}",
        "options": {}
      }
    },
    {
      "id": "code-format-send",
      "name": "Format: Send Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400],
      "parameters": {
        "jsCode": "const saved = $('PG: Save Admin Message').first().json;\nreturn [{ json: {\n  id:            saved.id,\n  conversationId: saved.conversation_id,\n  senderType:    'admin',\n  type:          'admin',\n  direction:     'outbound',\n  messageType:   'text',\n  contentText:   saved.content_text,\n  content:       saved.content_text || '',\n  sender: { id: 'admin', name: 'Admin', type: 'admin' },\n  timestamp:     saved.created_at,\n  isRead:        true,\n  lineSent:      true,\n} }];"
      }
    },
    {
      "id": "res-send",
      "name": "RES: Send Message",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 400],
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "wh-toggle",
      "name": "WH: Manage Tags",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 600],
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/conversations/:conversationId/tags",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-prepare-toggle",
      "name": "Code: Parse Tags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 600],
      "parameters": {
        "jsCode": "const params = $json.params || {};\nconst body   = $json.body   || {};\nconst conversationId = params.conversationId;\nconst tags = Array.isArray(body.tags) ? body.tags : [];\nconst cleaned = tags\n  .map((tag) => ({\n    name:  String(tag.name  || '').trim(),\n    color: String(tag.color || '#2563eb').trim(),\n  }))\n  .filter((tag) => tag.name.length > 0);\nreturn [{ json: { conversationId, tags: cleaned } }];"
      }
    },
    {
      "id": "pg-toggle",
      "name": "PG: Replace Tags",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 600],
      "credentials": {
        "postgres": { "id": "n5ShY9BluRF19UVO", "name": "Postgres account" }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM conversation_tags\nWHERE conversation_id = '{{ $json.conversationId }}'::UUID;\n\n{{ $json.tags.map((t) => `WITH t_upsert AS (\n  INSERT INTO tags (name, color, scope)\n  VALUES ('${String(t.name).replace(/'/g,\"''\")}', '${String(t.color).replace(/'/g,\"''\")}', 'conversation')\n  ON CONFLICT (name, scope) DO UPDATE SET color = EXCLUDED.color\n  RETURNING id\n)\nINSERT INTO conversation_tags (conversation_id, tag_id)\nSELECT '${$json.conversationId}'::UUID, id FROM t_upsert;`).join('\\n') }}\n\nSELECT\n  '{{ $json.conversationId }}' AS conversation_id,\n  COALESCE(\n    json_agg(\n      json_build_object('id', t.id::TEXT, 'name', t.name, 'color', t.color)\n      ORDER BY t.name\n    ),\n    '[]'::json\n  ) AS labels\nFROM  conversation_tags ct\nJOIN  tags t ON ct.tag_id = t.id\nWHERE ct.conversation_id = '{{ $json.conversationId }}'::UUID;",
        "options": {}
      }
    },
    {
      "id": "code-format-toggle",
      "name": "Format: Tags Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 600],
      "parameters": {
        "jsCode": "const row = $input.first()?.json || {};\nconst labels = Array.isArray(row.labels)\n  ? row.labels\n  : typeof row.labels === 'string'\n    ? JSON.parse(row.labels || '[]')\n    : [];\nreturn [{\n  json: {\n    conversationId: row.conversation_id || $('Code: Parse Tags').first().json.conversationId,\n    labels,\n  }\n}];"
      }
    },
    {
      "id": "res-toggle",
      "name": "RES: Manage Tags",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 600],
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "wh-stats",
      "name": "WH: Dashboard Stats",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 800],
      "parameters": {
        "httpMethod": "GET",
        "path": "admin/dashboard/stats",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "pg-stats",
      "name": "PG: Get Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 800],
      "credentials": {
        "postgres": { "id": "n5ShY9BluRF19UVO", "name": "Postgres account" }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT COUNT(*) FROM conversations WHERE status != 'archived')             AS total_conversations,\n  (SELECT COUNT(*) FROM conversations WHERE status IN ('open','pending'))     AS human_required,\n  0                                                                           AS bot_handled,\n  (SELECT COUNT(*) FROM messages WHERE created_at >= CURRENT_DATE\n                                    AND is_deleted = FALSE)                   AS today_messages,\n  (SELECT COUNT(DISTINCT c.id)\n   FROM   conversations c\n   JOIN   users u ON c.customer_user_id = u.id\n   WHERE  u.channel = 'line')                                                 AS line_count,\n  (SELECT COUNT(*) FROM conversations WHERE status = 'resolved')              AS resolved_count;",
        "options": {}
      }
    },
    {
      "id": "code-format-stats",
      "name": "Format: Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 800],
      "parameters": {
        "jsCode": "const r        = $input.first().json;\nconst total    = parseInt(r.total_conversations) || 0;\nconst human    = parseInt(r.human_required)      || 0;\nconst bot      = parseInt(r.bot_handled)         || 0;\nconst today    = parseInt(r.today_messages)      || 0;\nconst line     = parseInt(r.line_count)          || 0;\nconst resolved = parseInt(r.resolved_count)      || 0;\nreturn [{ json: {\n  totalConversations: total,\n  botHandled:         bot,\n  humanRequired:      human,\n  resolved,\n  channelStats: { line, facebook: 0, instagram: 0, tiktok: 0 },\n  todayMessages: today,\n  responseRate:  0,\n} }];"
      }
    },
    {
      "id": "res-stats",
      "name": "RES: Dashboard Stats",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 800],
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "wh-get-tags",
      "name": "WH: Get Tags",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 1200],
      "parameters": {
        "httpMethod": "GET",
        "path": "admin/tags",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "pg-get-tags",
      "name": "PG: Get Tags",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 1200],
      "credentials": {
        "postgres": { "id": "n5ShY9BluRF19UVO", "name": "Postgres account" }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id::TEXT, name, color, scope FROM tags ORDER BY name;",
        "options": {}
      }
    },
    {
      "id": "code-fmt-tags-list",
      "name": "Format: Tags List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 1200],
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { tags: rows, total: rows.length } }];"
      }
    },
    {
      "id": "res-get-tags",
      "name": "RES: Get Tags",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 1200],
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "wh-create-tag",
      "name": "WH: Create Tag",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 1500],
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/tags",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "pg-create-tag",
      "name": "PG: Create Tag",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 1500],
      "credentials": {
        "postgres": { "id": "n5ShY9BluRF19UVO", "name": "Postgres account" }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tags (name, color, scope) VALUES ('{{ $json.body.name }}', '{{ $json.body.color }}', '{{ $json.body.scope || 'global' }}') ON CONFLICT (name, scope) DO UPDATE SET color = EXCLUDED.color RETURNING id::TEXT, name, color, scope;",
        "options": {}
      }
    },
    {
      "id": "code-fmt-create-tag",
      "name": "Format: Created Tag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 1500],
      "parameters": {
        "jsCode": "const row = $input.first().json;\nreturn [{ json: row }];"
      }
    },
    {
      "id": "res-create-tag",
      "name": "RES: Create Tag",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 1500],
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    },
    {
      "id": "wh-delete-tag",
      "name": "WH: Delete Tag",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 1800],
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/tags/delete",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "pg-delete-tag",
      "name": "PG: Delete Tag",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [240, 1800],
      "credentials": {
        "postgres": { "id": "n5ShY9BluRF19UVO", "name": "Postgres account" }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM conversation_tags WHERE tag_id = '{{ $json.body.tagId }}'::UUID; DELETE FROM tags WHERE id = '{{ $json.body.tagId }}'::UUID RETURNING id::TEXT;",
        "options": {}
      }
    },
    {
      "id": "code-fmt-delete-tag",
      "name": "Format: Delete Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 1800],
      "parameters": {
        "jsCode": "return [{ json: { success: true } }];"
      }
    },
    {
      "id": "res-delete-tag",
      "name": "RES: Delete Tag",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 1800],
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "WH: Get Conversations": {
      "main": [[{ "node": "PG: Get Conversations", "type": "main", "index": 0 }]]
    },
    "PG: Get Conversations": {
      "main": [[{ "node": "Format: Conversations", "type": "main", "index": 0 }]]
    },
    "Format: Conversations": {
      "main": [[{ "node": "RES: Get Conversations", "type": "main", "index": 0 }]]
    },
    "WH: Get Messages": {
      "main": [[{ "node": "PG: Get Messages", "type": "main", "index": 0 }]]
    },
    "PG: Get Messages": {
      "main": [[{ "node": "Format: Messages", "type": "main", "index": 0 }]]
    },
    "Format: Messages": {
      "main": [[{ "node": "RES: Get Messages", "type": "main", "index": 0 }]]
    },
    "WH: Send Message": {
      "main": [[{ "node": "PG: Save Admin Message", "type": "main", "index": 0 }]]
    },
    "PG: Save Admin Message": {
      "main": [[{ "node": "LINE: Push Message", "type": "main", "index": 0 }]]
    },
    "LINE: Push Message": {
      "main": [[{ "node": "Format: Send Response", "type": "main", "index": 0 }]]
    },
    "Format: Send Response": {
      "main": [[{ "node": "RES: Send Message", "type": "main", "index": 0 }]]
    },
    "WH: Manage Tags": {
      "main": [[{ "node": "Code: Parse Tags", "type": "main", "index": 0 }]]
    },
    "Code: Parse Tags": {
      "main": [[{ "node": "PG: Replace Tags", "type": "main", "index": 0 }]]
    },
    "PG: Replace Tags": {
      "main": [[{ "node": "Format: Tags Response", "type": "main", "index": 0 }]]
    },
    "Format: Tags Response": {
      "main": [[{ "node": "RES: Manage Tags", "type": "main", "index": 0 }]]
    },
    "WH: Dashboard Stats": {
      "main": [[{ "node": "PG: Get Stats", "type": "main", "index": 0 }]]
    },
    "PG: Get Stats": {
      "main": [[{ "node": "Format: Stats", "type": "main", "index": 0 }]]
    },
    "Format: Stats": {
      "main": [[{ "node": "RES: Dashboard Stats", "type": "main", "index": 0 }]]
    },
    "WH: Get Tags": {
      "main": [[{ "node": "PG: Get Tags", "type": "main", "index": 0 }]]
    },
    "PG: Get Tags": {
      "main": [[{ "node": "Format: Tags List", "type": "main", "index": 0 }]]
    },
    "Format: Tags List": {
      "main": [[{ "node": "RES: Get Tags", "type": "main", "index": 0 }]]
    },
    "WH: Create Tag": {
      "main": [[{ "node": "PG: Create Tag", "type": "main", "index": 0 }]]
    },
    "PG: Create Tag": {
      "main": [[{ "node": "Format: Created Tag", "type": "main", "index": 0 }]]
    },
    "Format: Created Tag": {
      "main": [[{ "node": "RES: Create Tag", "type": "main", "index": 0 }]]
    },
    "WH: Delete Tag": {
      "main": [[{ "node": "PG: Delete Tag", "type": "main", "index": 0 }]]
    },
    "PG: Delete Tag": {
      "main": [[{ "node": "Format: Delete Response", "type": "main", "index": 0 }]]
    },
    "Format: Delete Response": {
      "main": [[{ "node": "RES: Delete Tag", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
